# Laravel core
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
*.swp
*.swo
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Core assets
/public/theme/*
/public/wncms
/config/theme/*
/stubs/*

# Projects
/.well-known/
/public/.user.ini
Test.php
TestCommand.php
Todo.md
/public/media
/public/installer

/storage/*
!/storage/.gitignore
diff.txt