.map-wrapper{
    display: flex;
    flex-wrap: wrap;
    border:5px solid black;
}

.map-tile-wrapper{
    aspect-ratio: 1 / 1;
    
    border: 1px #e1e1e1 dashed;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.map-tile{
    width:100;
    height:100;
}

.map-tile-coordinate{
    white-space: nowrap;
    font-size: 12px;
    color: #cbcbcb;
}

.current-location{
    background-color: grey;
}

.has-item{
    background-color: rgb(222, 230, 255);
    border:2px blueviolet solid;
}

.has-other-player{
    background-color: rgb(250, 80, 91);
    border:2px blueviolet solid;
}

.has-item .map-tile-coordinate{
    color:blueviolet;
}
.player-avatar-wrapper{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-avatar-wrapper img{
    max-width:100%;
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.player-name {
    color: #8eff00;
    font-weight: bold;
}

.damage-number{
    color: #ff6a74;
    font-weight: bold;
}

.target-player-name {
    color: #ff1c1f;
    font-weight: bold;
}

.item-name{
    color: #00a81c;
    font-weight: bold;
}
.status-value{
    z-index:2;
    margin-left:5px;
}
.status-bar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:1;
}